@font-face {
    font-family: 'Slop';
    src: url('Slop-Regular.woff2') format('woff2'),
        url('Slop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}